* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: rgb(43, 39, 39);
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  display: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px black;
  margin-bottom: 10px;
  --borderWidth: 3px;
  /* border: solid 5px orange; */
  /* transition: border-width 0.6s linear; */
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.app-wrapper:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(150% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  animation: animatedgradient 3s ease alternate infinite;
  background: linear-gradient(60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

/* .app-wrapper:hover{
  border-width: 10px;
} */

.header h1 {
  color: azure;
  text-align: center;
  margin: 30px 0;
}

.task {
  outline: none;
  width: 265px;
  padding: 11px;
  margin-right: 23px;
  font-size: 20px;
  color: #ccc;
  background-color: black;
  border: 1px solid peru;
  border-radius: 10px;
}

.button {
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #f1af71;
  cursor: pointer;
}

.list {
  display: flex;
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 30px;
  z-index: 1;
}

.icon {
  position: relative;
  left: 305px;
  bottom: 35px;
  cursor: pointer;
  color: #f1af71;
}

.text {
  color: #f1af71;
  margin-top: 15px;
  padding-left: 10px;
}

/* Responsive Design */
@media (max-width: 500px) {
  .app-wrapper {
    min-width: 200px;
    min-height: 300px;
  }

  .task {
    padding: 5px;
    width: 180px;
  }

  .icon {
    left: 230px;
  }
}

@media (max-width:360px) {
  .icon {
    left: 190px
  }

  .button {
    width: 8rem;
    margin-top: 1em;
    padding: 8px;
    margin-left: 1em;
  }
}